# Q1) Load the data set using pandas

In [1]:
import pandas as pd
data= pd.read_csv('data.csv')

In [2]:
data.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [3]:
data.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

# Q2)Extract data from YearExperience column is a variable name x

In [4]:
x=data.loc[:,['YearsExperience']]
x.head()

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2

# Q3)Extract data from Salary column is a variable name y

In [5]:
y=data.loc[:,['Salary']]
y.head()

    Salary
0  39343.0
1  46205.0
2  37731.0
3  43525.0
4  39891.0

# Divide the data set into two parts for training and testing in 66% and 33% proportion

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33)

In [7]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(20, 1)
(10, 1)
(20, 1)
(10, 1)

# Q5) Create the train LinearRegression Model on trainingset

In [8]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
model=lr.fit(x_train,y_train)

In [9]:
model

LinearRegression()

In [16]:
lr.score(x_test,y_test)

0.9507886953470733

In [17]:
lr.intercept_

array([23182.52924588])

In [18]:
lr.coef_

array([[9836.12571636]])

# Q6) Make the predicition based on the testing set using the train model  Q7) Check the performance by calculating the r2 score of the model

In [10]:
y_pred = lr.predict(x_test)

In [11]:
from sklearn.metrics import r2_score
r2_score(y_pred,y_test)

0.9445245093714243